@tailwind base;
@tailwind components;
@tailwind utilities;


.videoCardCompress {
    --ytd-rich-grid-items-per-row: 4;
    --ytd-rich-grid-item-margin: 16px;
    width: calc(100% / var(--ytd-rich-grid-items-per-row) - var(--ytd-rich-grid-item-margin) - .01px);
}

.videoCardFull {
    --ytd-rich-grid-items-per-row: 5;
    --ytd-rich-grid-item-margin: 16px;
    width: calc(100% / var(--ytd-rich-grid-items-per-row) - var(--ytd-rich-grid-item-margin) - .01px);
}